<h1>Rock Lime Page</h1>

<!-- link to page with image here -->

<div>
  <div class="paragraph">
    <p>This page is for a new Beijing based translation company that specialises in video game translation (mostly from Chinese to a variety of other languages), 
      but also works in other areas and can provide voice over services. They asked me to provide a landing page a long with pages describing the company and some overview of their previous 
      work and partnerships, and a contact page along with a form to allow users to directly send samples of projects for the translation company to check and give
      price estimates for possible projects. The company wanted the files to be checked manually to allow duplicates and other complications to be checked when factoring the pricing, so I decided to make
      a simple form with an attachment input area, and input areas for word counts, target languages, and extra comments.</p>
  </div>
</div>
