<h1>Rock Lime Page</h1>

<!-- link to page with image here -->

<div>
  <div class="paragraph">
    <p>
      This page is for a new Beijing based translation company that specialises in video game translation (mostly from Chinese to a 
      variety of other languages), but also works in other areas and can provide voice over services.
    </p>
    <p>
      They asked me to provide a landing page along with pages describing the company, some overview of their previous work and 
      partnerships and a page about some of their other translation work (unrelated to their specialisation) including novels etc. Finally
      they asked for a quote request page where prospective clients could submit a sample document along with an estimated total word count, 
      desired target languages, and any other parameters, so that they could be checked and an estimated quote sent back to the prospective 
      client.
    </p>
    <p>
      The company wanted the files to be checked manually to allow duplicate words and other complications to be checked when factoring the
      pricing, so I decided to make a simple form with an attachment input area, and input areas for word counts, target languages, extra 
      comments and the prospective clients email. On submit the form would be sent directly to the company business inbox with the attached 
      file and with all the included details (except for the comments all the inputs are required).
    </p>
  </div>
</div>
