<section class="sectionContainer">
  <section class="titleContainer">
    <h1></h1>
  </section>

  <section class="design">
    <section class="title">
      <h3></h3>
    </section>
    <hr />

    <section class="paragraph">
      <p></p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />
    <section class="paragraph">
      <p></p>
    </section>

  </section>
</section>
