<section class="sectionContainer">
  <section class="titleContainer">
    <img src="/images/chapp/chapplogo..png">
    <h3>Team and Task Management</h3>
    <p><a href="https://github.com/makxks/Chatproject">Github repo</a></p>
  </section>

  <section class="design">
    <section class="title">
      <p>A MEAN (Mongo, Express,Angular, Node) application using sockets.io for task management and messaging.</p>
    </section>
    <hr />

    <section class="paragraph">
      <h2>Basic Functionality</h2>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />
    <section class="paragraph">
      <p></p>
    </section>

  </section>
</section>
