<section class="sectionContainer">
  <section class="titleContainer">
    <h1><a href="http://class-tracker.herokuapp.com/">First Leap Class Tracker</a></h1>
    <p><a href="https://github.com/makxks/ClassTracker">Github repo</a></p>
  </section>

  <section class="design">
    <section class="title">
      <p>An app for International teachers at First Leap training schools in China to manage and track their classes and lessons.</p>
    </section>
    <hr />

    <section class="paragraph">
      <p></p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="" alt="" height="200px">
        <p></p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h3></h3>
      <p></p>
    </section>
    <hr />
    <section class="paragraph">
      <p></p>
    </section>

  </section>
</section>
