<div>
  <div class="gamewindow">
    <div class="introduction">
      <img src="/images/spark/logo..png" alt="Spark Logo" height="55px" width="145px">
      <p>You can download the game to try it <a href="/games/Spark.zip" download>here</a></p>
      <hr />
      <p>Spark is a quick play casual puzzle game</p>
      <p>Advance the "Spark" as far as you can by jumping across the rings</p>
      <p>Keep going until the "Spark" runs out of charge</p>
      <p>Watch out for different kinds of rings and aim for the gates to get a recharge</p>
    </div>
  </div>
</div>
