<section>
  <section class="gamewindow">
    <section class="introduction">
      <img src="/images/spark/logo..png" alt="Spark Logo" height="55px" width="145px">
      <p><a href="/games/Spark.zip" download>You can download the game to try it here</a></p>
      <img src="/images/Spark/6..png" alt="Later in game position" height="300px">
      <hr />
      <p>Spark is a quick play casual puzzle game</p>
      <p>Advance the "Spark" as far as you can by jumping across the rings</p>
      <p>Keep going until the "Spark" runs out of charge</p>
      <p>Watch out for different kinds of rings and aim for the gates to get a recharge</p>
    </section>
  </section>
</section>
