<img src="/images/survivorlogo..png" alt="Survivor Logo" height="57px" width="247px">
<div>
  <h1>You can play a small part of the game here</h1>
  <p><a href="https://github.com/makxks/Survivor">Survivor Github repo</a></p>
  <div class="gamewindow">
    <!-- put the game download here -->
    <div class="introduction">
      <h1>Survivor</h1>
      <p>Survivor is a survival game.</p>
      <p>After your cargo plane crashes on a mysterious group of islands, you must explore and gather resources to try to find a way to get out.</p>
      <p>A variety of puzzles and dangers await as you explore the islands. Where are you? Does anyone live on the islands? Try to survive and escape.</p>
   </div>
  </div>
</div>
