<section>
  <section class="gamewindow">
    <section class="introduction">
      <img src="/images/survivorlogo..png" alt="Survivor Logo" height="57px" width="247px">
      <p><a href="https://github.com/makxks/Survivor">Survivor Github repo</a></p>
      <img src="/images/survivor/bg2.png" alt="Survivor screenshot" height="475px" width="960px">
      <hr />
      <p>Survivor is a survival game.</p>
      <p>After your cargo plane crashes on a mysterious group of islands, you must explore and gather resources to try to find a way to get out.</p>
      <p>A variety of puzzles and dangers await as you explore the islands. Where are you? Does anyone live on the islands? Try to survive and escape.</p>
    </section>
  </section>
</section>
