<div class="games">

  <div class="menu">

    <h2><a routerLinkActive="active" [routerLink]="['/games/spark/sparkgame']"><img src="/images/spark/logo..png" alt="Spark Logo" height="55px" width="145px"></a></h2>
    <h2><a routerLinkActive="active" [routerLink]="['/games/eruption/eruptiongame']"><img src="/images/eruption/logo..png" alt="Eruption Logo" height="51px" width="173px"></a></h2>
    <h2><a routerLinkActive="active" [routerLink]="['/games/network/networkgame']"><img src="/images/network/logo..png" alt="Network Logo" height="67px" width="239px"></a></h2>
    <h2><a routerLinkActive="active" [routerLink]="['/games/migration/migrationgame']"><img src="/images/migration/logo..png" alt="Migration Logo" height="54px" width="156px"></a></h2>
    <h2><a routerLinkActive="active" [routerLink]="['/games/survivor/survivorgame']"><img src="/images/survivorlogo..png" alt="Survivor Logo" height="57px" width="247px"></a></h2>
  </div>

</div>
