<section class="gamenav">
  <nav>
    <ul class="nav">
      <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/gamehome']">Games</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/eruption']">Eruption</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/migration']">Migration</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/spark']">Spark</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/survivor']">Survivor</a></li>      
    </ul>
  </nav>
</section>
