<div class="games">

  <div class="paragraph">
    <h3>My games</h3>

    <h1 routerLinkActive="active" [routerLink]="['spark/sparkgame']">Spark</h1>
    <!--<h1 routerLinkActive="active" [routerLink]="['survivor/survivorgame']">Survivor</h1>-->
    <h1 routerLinkActive="active" [routerLink]="['eruption/eruptiongame']">Eruption</h1>
    <h1 routerLinkActive="active" [routerLink]="['network/networkgame']">Network</h1>
    <h1 routerLinkActive="active" [routerLink]="['migration/migrationgame']">Migration</h1>
  </div>

</div>
