<section class="gamenav">
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLink]="['/games/gamehome']"><a>Games</a></li>
      <li routerLinkActive="active" [routerLink]="['/games/eruption']"><a>Eruption</a></li>
      <li routerLinkActive="active" [routerLink]="['/games/migration']"><a>Migration</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/games/spark']">Spark</a></li>
      <!--<li routerLinkActive="active"><a [routerLink]="['/games/survivor']">Survivor</a></li>-->
    </ul>
  </nav>
</section>
