.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top:0;
  width: 75%;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.menu h2 {
  margin: 12px;
}

.menu h2, .menu img {
  cursor: pointer;
}
