<div>
  <div class="gamewindow">
    <div class="introduction">
      <img src="/images/network/logo..png" alt="Network Logo" height="67px" width="239px">
      <p>You can download the game to try it <a href="/games/network21.zip" download>here</a></p>
      <hr />
      <p>Network is a slow paced package delivery game</p>
      <p>Deliver the packages by plotting a route across the connected nodes</p>
      <p>Deliver all the packages as fast as possible to win</p>
      <p>Large packages move more slowly and only one package can be on a link at once, so plan ahead</p>
    </div>
  </div>
</div>
