<section>
  <section class="gamewindow">
    <section class="introduction">
      <img src="/images/network/logo..png" alt="Network Logo" height="67px" width="239px">
      <p><a href="/games/network21.zip" download>You can download the game to try it here</a></p>
      <p><a href="https://github.com/makxks/Network">Network Github repo</a></p>
      <img src="/images/Network/1..png" alt="In game position" height="300px">
      <hr />
      <p>Network is a slow paced package delivery game</p>
      <p>Deliver the packages by plotting a route across the connected nodes</p>
      <p>Deliver all the packages as fast as possible to win</p>
      <p>Large packages move more slowly and only one package can be on a link at once, so plan ahead</p>
    </section>
  </section>
</section>
