<section *ngIf="this.homeService.selectedGame == ''">
  <h1>Games</h1>
  <hr/>
  <p>This is a selection of my games, the game pages hold more information about design and design decisions, and also contain links to download and play all the games along with links to the git repos (if available).</p>
  <p><a [routerLink]="['/games/gamehome']">Click here to see more details about all of my games.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'spark'">
  <img src="/images/spark/logo..png" alt="Spark Logo" height="55px" width="145px">
  <hr />
  <img src="/images/spark/1..png" alt="Spark Screenshot" height="429px" width="501px">
  <hr />
  <p>This game stemmed from a simple desire to find an interesting way to use just 2 geometric shapes in a game. Starting with only a ring and a sphere, I worked through some simple brainstorming and paper prototypes to arrive at "Spark". Just jump the spark forward as far as possible before it loses it's charge. The short session time and simple mechanics paired with the bold visuals make it ideal as a mobile game, which I am currently working on.</p>
  <p><a routerLinkActive="active" [routerLink]="['/games/spark/sparkgame']">Please look here to see more details about the game or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'network'">
  <img src="/images/network/logo..png" alt="Network Logo" height="67px" width="239px">
  <hr />
  <img src="/images/network/1..png" alt="Network Screenshot" height="382px" width="512px">
  <hr />
  <p>A simple package delivery game. The design grew from thinking about the concept of "packets" of data being sent and received across the internet (mostly thinking about it due to disconnections during online games). I took that idea of "packages" and developed this simple game idea. This project really helped me to see how important usability is in a UI, and how a bad UI can ruin a good game experience, but a good UI can enhance something and make even the simplest games really enjoyable.</p>
  <p><a routerLinkActive="active" [routerLink]="['/games/network/networkgame']">Please look here to see more details about the game or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'eruption'">
  <img src="/images/eruption/logo..png" alt="Eruption Logo" height="51px" width="173px">
  <hr />
  <img src="/images/eruption/main.png" alt="Eruption Screenshot" height="432px" width="579px">
  <hr />
  <p>A fast paced strategy survival game. Divert the lava streams away from the cities with trenches for as long as you can. I spent a lot of time with paper prototypes to work out the best way to represent the game area and the best shape for the tiles. I then iterated over several designs to come to a point for each game mode where the speed of the lava and the camera movement felt good.</p>
  <p><a routerLinkActive="active" [routerLink]="['games/eruption/eruptiongame']">Please look here to see more details about the game or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'migration'">
  <img src="/images/migration/logo..png" alt="Migration Logo" height="54px" width="156px">
  <hr />
  <img src="/images/migration/birdSS.png" alt="Migration Screenshot" height="432px" width="579px">
  <hr />
  <p>A simple running/point to point game. Control the migrating animals past obstacles and predators to reach their destinations. Each animal has 3 levels, and I focussed on designing enough progression between levels to make it challenging but not too frustrating once the mechanics are learned. I also tried to make good looking yet simple sprites and animations based on real animals.</p>
  <p><a routerLinkActive="active" [routerLink]="['games/migration/migrationgame']">Please look here to see more details about the game or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'survivor'">
  <img src="/images/survivorlogo..png" alt="Survivor Logo" height="57px" width="247px">
  <hr />
  <img src="/images/survivor/bg2.png" alt="Survivor screenshot" height="475px" width="960px">
  <p>After your plane crashes on an unknown group of islands you must find way home.</p>
  <p>You need to keep both your body and mind in good condition to improve your chances.</p>


  <p>This is by far my biggest game so far.</p>
</section>
