.gamenav {
  position: relative;
  float: left;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
  align-items: right;
  z-index: 100;
  margin-right: 2%;
}

ul {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.gamenav li {
  text-align: right;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  float: right;
}

.gamenav li:hover{
  text-decoration: none;
  background-color: darkgray;
  cursor: pointer;
}
