<section class="gamenav">
  <nav>
    <ul>
      <li routerLinkActive="active" (click)="selectGame('')">Games</li>
      <li routerLinkActive="active" (click)="selectGame('spark')">Spark</li>
      <!--<li routerLinkActive="active" (click)="selectGame('survivor')">Survivor</li>-->
      <li routerLinkActive="active" (click)="selectGame('eruption')">Eruption</li>
      <li routerLinkActive="active" (click)="selectGame('network')">Network</li>
      <li routerLinkActive="active" (click)="selectGame('migration')">Migration</li>
    </ul>
  </nav>
</section>
