<section *ngIf="this.homeService.selectedGame == ''">
  <h1>Games</h1>
  <hr/>
  <p>This is a selection of my games, the game pages hold more information about design and design decisions, and also contain links to download and play all the games along with links to the git repos (if available).</p>
  <p><a [routerLink]="['/games/gamehome']">Click here to see more details about all of my games.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'spark'">
  <img src="/images/spark/logo..png" alt="Spark Logo" height="55px" width="145px">
  <hr />
  <img src="/images/spark/1..png" alt="Spark Screenshot" height="429px" width="501px">
  <hr />
  <p>Get the Spark forward as far as possible before it runs out of charge. Jump across the rings and pick up extra charge from the gates to get as far as possible.</p>
  <p><a routerLinkActive="active" [routerLink]="['/games/spark/sparkgame']">Please look here to see more details about the game and it's design or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'network'">
  <img src="/images/network/logo..png" alt="Network Logo" height="67px" width="239px">
  <hr />
  <img src="/images/network/1..png" alt="Network Screenshot" height="382px" width="512px">
  <hr />
  <p>A package delivery game. Deliver all packages to their destinations as fast as possible in this simple puzzle game.</p>
  <p><a routerLinkActive="active" [routerLink]="['/games/network/networkgame']">Please look here to see more details about the game and it's design or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'eruption'">
  <img src="/images/eruption/logo..png" alt="Eruption Logo" height="51px" width="173px">
  <hr />
  <img src="/images/eruption/main.png" alt="Eruption Screenshot" height="432px" width="579px">
  <hr />
  <p>Protect the cities! A fast paced strategy survival game. Divert the lava streams away from the cities with trenches for as long as you can.</p>
  <p><a routerLinkActive="active" [routerLink]="['games/eruption/eruptiongame']">Please look here to see more details about the game and it's design or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'migration'">
  <img src="/images/migration/logo..png" alt="Migration Logo" height="54px" width="156px">
  <hr />
  <img src="/images/migration/birdSS.png" alt="Migration Screenshot" height="432px" width="579px">
  <hr />
  <p>Get the migrating animals to their destinations while avoiding obstacles and predators. A point to point runner.</p>
  <p><a routerLinkActive="active" [routerLink]="['games/migration/migrationgame']">Please look here to see more details about the game and it's design or to download and give it a try.</a></p>
</section>

<section *ngIf="this.homeService.selectedGame == 'survivor'">
  <img src="/images/survivorlogo..png" alt="Survivor Logo" height="57px" width="247px">
  <hr />
  <img src="/images/survivor/bg2.png" alt="Survivor screenshot" height="475px" width="960px">
  <p>After your plane crashes on an unknown group of islands you must find way home.</p>
  <p>You need to keep both your body and mind in good condition to improve your chances.</p>
  <p>Survive and get home.</p>
</section>
