<div class="body">
  <section class="gallery">
    <div class="content-slider">

			<div class="slider">

				<div class="mask">

					<ul id="animationone">

						<li><img id="firstno1" src="/images/eruption/SS3.png" alt="eruption image 1" width="400px"/></li>
						<li><img id="secondno1" src="/images/eruption/SS4.png" alt="eruption image 2" width="400px"/></li>

					</ul>

				</div>

			</div>

		</div>

    <div class="content-slider">

			<div class="slider">

				<div class="mask">

					<ul id="animationtwo">

						<li><img id="firstno2" src="/images/migration/birdSS.png" alt="migration bird image" width="400px"/></li>
						<li><img id="secondno2" src="/images/migration/fishSS.png" alt="migration fish image" width="400px"/></li>
						<li><img id="thirdno2" src="/images/migration/runSS.png" alt="migration wildebeest image" width="400px"/></li>

					</ul>

				</div>

			</div>

		</div>

  </section>
  <hr>
  <section class="work">
    <div class="web">
      <h1>Web Development</h1>
      <hr>
      <p>I have been working to learn as much as possible about web development over the past year or so, learning about anything that comes up while I am making a site, or following tutorial. This has taken me into areas such as databases and authentication as well learning about some cool tools like Angular2, React, and how to scrape for information with Python.</p><br>
      <p>Take a look at the <a [routerLink]="['/web']">web</a> page to see some of the things I have made, or at the <a [routerLink]="['/learning']">learning</a> page to see some of the things I have been trying to learn about recently.
    </div>
    <div class="games">
      <h1>Game Design</h1>
      <hr>
      <p>I mostly use Unity to prototype and then develop my game ideas, so I have had some practice using C# for scripting, but I am also learning about the Unreal engine and some C++ so I can use it effectively. I usually use Blender to create 3D assets, PyxelEdit for pixel art and animating 2D sprites, and Krita for other 2D art along with Spriter for animation</p><br>
      <p>Take a look at the <a [routerLink]="['/game']">game</a> page to see and play some of the games I have completed (or in some cases almost completed). I have also written there about how I went about designing and developing each game</p>
    </div>
  </section>

</div>
