.webnav {
  position: relative;
  float: left;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  z-index: 100;
  margin-right: 2%;
}

ul {
  width: 100%;
}

nav {
  position: relative;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.webnav li {
  text-align: right;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.webnav li:hover{
  text-decoration: none;
  background-color: darkgray;
  cursor: pointer;
}
