.webnav {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  margin-left: 10%;
  width: 100%;
  min-width: 100%;
}

ul {
  width: 100%;
}

nav {
  position: relative;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.webnav li {
  text-align: left;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.webnav li:hover{
  text-decoration: none;
  background-color: darkgray;
  cursor: pointer;
}
