<section class="webnav">
  <nav>
    <ul>
      <li routerLinkActive="active" (click)="selectWebsite('')">Web</li>
      <li routerLinkActive="active" (click)="selectWebsite('classtracker')">First Leap Lesson App</li>
      <li routerLinkActive="active" (click)="selectWebsite('mprove')">MProve</li>
      <li routerLinkActive="active" (click)="selectWebsite('weather')">Weather</li>
      <!--
      <li routerLinkActive="active"><a [routerLink]="['/web/rocklime']">Rock Lime Translation</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/chatapp']">Chat App</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/tomart']">Tom Art</a></li>
    -->
    </ul>
  </nav>
</section>
