section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  auto;
  width: 80%;
  text-align: center;
}

section p {
  margin: 10px;
}

section ul li {
  margin: 5px;
}

section hr {
  width: 60%;
}

.screenshot {
  border: 1px solid #eee;
}
