<div>
  <div class="gamewindow">
    <div class="introduction">

      <h1>Migration</h1>
      <p>You can download the game to try it <a href="/games/migration.zip" download>here</a>.</p>
      <hr />

      <p>Migration is a relatively casual "runner".</p>
      <p>Help 3 animals to fly, swim, and run their way through their migration.</p>
      <p>Each animal has 3 levels to complete.</p>
      <p>You can try to get 3 stars on all the levels and complete the migrations!</p>

   </div>
  </div>
</div>
