<div>
  <h1>You can play the game here</h1>
  <div class="gamewindow">
    <div>
      <p>This may load very slowly, if that is the case please download the game to try it <a href="/games/migration.exe">here</a>.</p>
    </div>
    <div class="game">
      <iframe src="https://makxks.github.io/migrationgame/" height="605px" width="990px" scrolling="no" align="center"></iframe>
    </div>
    <div class="introduction">
      <h1>Migration</h1>
      <p>Migration is a relatively casual "runner".</p>
      <p>Help 3 animals to fly, swim, and run their way through their migration.</p>
      <p>Each animal has 3 levels to complete.</p>
      <p>You can try to get 3 stars on all the levels and complete the migrations!</p>
   </div>
  </div>
</div>
