<section>
  <section class="gamewindow">
    <section class="introduction">

      <img src="/images/migration/logo..png" alt="Migration Logo" height="54px" width="156px">
      <p><a href="/games/migration.zip" download>You can download the game to try it here</a>.</p>
      <img src="/images/migration/fishSS.png" alt="fish level screenshot" height="250px">
      <hr />

      <p>Migration is a relatively casual "runner".</p>
      <p>Help 3 animals to fly, swim, and run their way through their migration.</p>
      <p>Each animal has 3 levels to complete.</p>
      <p>You can try to get 3 stars on all the levels and complete the migrations!</p>

   </section>
  </section>
</section>
