form {
  width: 70%;
}

.authForm {
  width: 70%;
}

.formInput {
  height: 65px;
  margin: 0px;
}

.authFormContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  margin-top:0;
}

.form-group {
  margin-bottom: 20px;
}

h3 {
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
