.web {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top:0;
  width: 75%;
  margin: auto;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  width: 100%;
}

.paragraph {
  margin: 10px;
}

.images, div{
  margin: 10px;
}

p {
  margin: 10px;
}

h1 {
  margin: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.menu h2 {
  margin: 12px;
}
