<div class="web">
  <div class="paragraph">
    <h1>Web</h1>
  </div>

  <div class="paragraph">
    <p>You can see some of the websites I have made through these pages. On each page there is a direct link to that website,
    as well as some description of how I made it, who it is for (if I made it for anyone), and what I was trying to achieve or learn by
    doing it.</p>
    <p>I learned a lot from each of these applications and in the future I am going to continue to target different areas to learn about in each project. Currently I am working on an instant messaging/task management application using Angular and Sockets, details of this can be found below by clicking on the "Chapp" link (Chat app -> Chapp... not very imaginative but I like it). I am hoping to learn much more about Sockets and testing by completing the application, and I am using only SASS for styles, so that is a bit of a change from vanilla css.</p>
    <p>I have included links to both the websites themselves and the git repos on github. The repo for this website is located <a href="https://github.com/makxks/MaxPlattWebsite">here</a></p>
  </div>
  <hr />

  <div class="menu">
    <h2><a [routerLink]="['/web/classtracker']">First Leap App - Class and Lesson tracking for teachers</a></h2>
    <h2><a [routerLink]="['/web/mprove']">MProve - Personal targets and rewards</a></h2>
    <h2><a [routerLink]="['/web/chatapp']">Chapp - Instant messaging and task management</a></h2>
  </div>

</div>
