<section class="webnav">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a [routerLink]="['/web/webhome']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/rocklime']">Rock Lime Translation</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/mandarinlane']">Mandarin Lane</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/patsstats']">New England Patriots stats page</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/web/chatapp']">Chat App</a></li>
    </ul>
  </nav>
</section>
