<div class="web">
  <div class="paragraph">
    <h1>Web</h1>
  </div>

  <div class="paragrah">
    <p>You can see some of the websites I have made through these pages. On each page there is a direct link to that website,
    as well as some description of how I made it, who it is for (if I made it for anyone), and what I was trying to achieve or learn by
    doing it.</p>
    <p>I have included links to both the websites themselves and the git repos on github. The repo for this website is located <a href="https://github.com/makxks/MaxPlattWebsite">here</a></p>
  </div>
  <hr />

  <div class="menu">
    <h2><a [routerLink]="['/web/classtracker']">First Leap App - Class and Lesson tracking for teachers</a></h2>
    <h2><a [routerLink]="['/web/mprove']">MProve - Personal targets and rewards</a></h2>
    <h2><a [routerLink]="['/web/chatapp']">Chapp - Instant messaging and task management</a></h2>
    <h2><a [routerLink]="['/web/weather']">Weather App - Global weather</a></h2>
  </div>

</div>
