<section class="sectionContainer">
  <section class="titleContainer">
    <a href="https://mprove.herokuapp.com/"><img src="/images/mprove/mprove-logo..png" alt="MProve Logo" height="55px"></a>
    <p><a href="https://github.com/makxks/Mprove">Github repo</a></p>
  </section>

  <section class="design">

    <section class="title">
      <p>A MERN (Mongo, Express, React, Node) app for self-improvement and self-encouragement.</p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="/images/mprove/first-page..png" alt="First page of MProve" height="200px">
        <p>First page of MProve</p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <h2>Basic Functionality</h2>
    </section>
    <hr />

    <section class="paragraph">
      <h3>Targets and Rewards</h3>
      <p>The main idea behind this application is to take the simple idea of a todo list and instead apply it to something more long-term and positive. Instead of things like "Pay rent" or "do laundry", this app is better used to track things like "learn Chinese" or "go skydiving", things to learn or do that are outside the everyday, it is also for this reason that I have named them as "targets" rather than "tasks" or anything similar, they should be personal targets, not tasks that have to be completed. Users can also track subtargets as some of these things may be very large in scope and easier to track in smaller pieces.</p>
      <p>By adding scores to these targets the user can also incentivise themselves by adding rewards to the rewards section and giving them points values as well. Then the user can incentivise themselves by knowing that they will earn something valuable to them if they can get enough points.</p>
      <p>If the user can follow the system set out by the app and only give themselves their rewards when they have claimed enough points, the app can serve to incentivise users to do things that they want to do and improve their personal productivity in those areas.</p>
    </section>
    <hr />

    <section class="images">
      <section>
        <img src="/images/mprove/targets-page..png" alt="Target page" height="200px">
        <p>Target page</p>
      </section>
      <section>
        <img src="/images/mprove/rewards-page..png" alt="Reward page" height="200px">
        <p>Reward page</p>
      </section>
    </section>
    <hr />

    <section class="paragraph">
      <p>For what it is I think the app is relatively successful. The UI is easy to navigate and the system is easy to understand and use. I wanted to extend or alter the idea of a simple todo app and so I came up with this as a way to help myself to keep on track with some of the things I want to learn. By adding targets and rewards that are important to myself and following the system I can keep on track and also reward myself for achieving some of those goals, knowing that the reward is for a certain accomplishment. This was the first application I made using React and my main purpose was to gain some familiarity with it and Redux, and on that front it was very useful.</p>
    </section>

  </section>
</section>
