<h1><a href="http://weathereverywhere.herokuapp.com/">Weather App</a></h1>

<p>A global weather app using the open weather map api.</p>
<p>Users can enter any city and country around the world and check a detailed weather forecast for the next 24 hours, or a five day forecast, with details of temperature, humidity, pressure, wind, and a general description/icon. You can try it out here or click on the link in the title above to go directly to the page.</p>

<iframe src="http://weathereverywhere.herokuapp.com/"></iframe>
