<h1>
  <a href="http://weathereverywhere.herokuapp.com/">Weather App</a>
</h1>

<p>
  A global weather app using the open weather map api.
</p>
<p>
  Users can enter any city and country around the world and check a detailed weather forecast for the next 24 hours, or a five day forecast, with details of temperature, humidity, pressure, wind, and a general description/icon (all the information comes from the openweathermap api). You can try it out here or click on the link in the title above to go directly to the page.
</p>
<p>
  I included a city and country to make it global, and I used graphs to show averages and max/min values. From there I wanted to show more information, and to actually make it into a more useable app for checking the weather forecast. So first I made a details table for a daily forecast using the openweathermap 5 day / 3 hour forecast, with the next 6 3 hour intervals shown, with temperature, pressure, humidity, and wind given along with an icon and a description. From there I wanted to make a forecast for the next few days, and I decided first to include maximum and minimum temperatures, along with average pressure, humidity and wind. The app works very fast to give some detail of the days weather and a 5 day forecast.
</p>

<iframe src="http://weathereverywhere.herokuapp.com/"></iframe>
