<div class="body">
    <div id="gamename">
        <h1 id="title">- ERUPTION -</h1>
        <h2>The Lava Is Coming</h2>
        <h3>A fast paced strategy game</h3>
    </div>
    <div class="image">
        <img src="/images/eruption/main.png" alt="Eruption Image" height="250px">
    </div>
</div>

<hr>

<div class="text">
    <p>Eruption is a tense, frantic, puzzle game in which you must save as many cities as possible from streams of approaching lava</p>
    <p>To protect the cities you must build trenches to divert the lava</p>
    <p>There are 2 game modes: 'Speed' and 'Strategy'</p>
    <p>Speed and Strategy modes provide two different challenges, race against the lava or plan ahead with limited resources</p>
    <p>You can see more about Eruption and try the game out <a>here</a></p>
<div>