.body {
  width: 95%
}

.gamewindow {
	width: 95%;
	margin:auto;
  margin-top: 0;
}

.game {
  width: 950px;
  margin: auto;
}

iframe {
  padding: 10px;
	text-align: center;
}

.introduction {
  width: 75%;
  margin: auto;
}

h1 {
  margin: 5px;
}

p {
  margin: 6px;
}
