<div>
  <h1>You can play the game here</h1>
  <div class="gamewindow">
    <div class="game">
      <iframe src="https://makxks.github.io/Eruption2/" height="605px" width="990px" scrolling="no" align="center"></iframe>
    </div>
    <div class="introduction">
      <h1>ERUPTION</h1>
      <p>Eruption is a tense, frantic, puzzle game in which you must save as many cities as possible from streams of approaching lava</p>
      <p>To protect the cities you must build trenches to divert the lava around the cities</p>
      <p>There are 2 game modes: 'Speed' and 'Strategy'</p>
      <p>In speed mode it is just you against the lava, trenches have no build time, so you can focus on choosing the right place to build and building fast! Can you build trenches fast enough to protect the cities? Watch out for rocks and lakes; you can't dig trenches on rocks, but the lakes will cool and slow the lava. Be careful, the lava speeds up!</p>
      <p>In strategy mode the lava is slower, but you only have 5 teams available to build trenches. Different colours of ground tiles have different building times in strategy mode so plan carefully. There are also some 'events' in strategy mode, some are helpful to you (flooding can slow lava but also causes trench collapse, building teams working overtime halves build times), some are not (trench collapse destroys a trench and releases the lava, eruption makes new lava streams). Can you direct the teams fast enough to save the cities?</p>
    </div>
  </div>
</div>
