<div class="container">	
	<div class="home">
		<div class="left-background" id="left-bg" [ngClass]="{'clicked': clicked=='game'}" (click)="click('game')" [routerLink]="['/games']">
			<div id="to-fade-left">
				<h1>Game</h1>
				<div class="game" *ngIf='selected=="game"'>
					<game-header></game-header>
				</div>
			</div>
		</div>
		<div class="image" id="centreImages">
			<img id="me-left" src="/images/me2.png" alt="me-left" height="800px">
			<img id="me-right" src="/images/mehalfbw..png" alt="me-right" height="800px">
		</div>
		<div class="right-background" id="right-bg" [ngClass]="{'clicked': clicked=='web'}">
			<div id="to-fade-right">
				<div class="logo-mask">
					<img id="web-logo" src="/images/weblogo..png" (click)="click('web')" [routerLink]="['/web']">
				</div>
				<div class="web" *ngIf='selected=="web"'>
					<web-header></web-header>
				</div>
			</div>
		</div>
	</div>
	<div id="body" [ngStyle]="{'display':selected?'block':'none'}">
		<router-outlet></router-outlet>
	</div>
	<app-footer></app-footer>
</div>

<app-error></app-error>
