<div class="row">
    <div class="col-lg-offset-2 col-md-offset-1 col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            <app-logo></app-logo>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7">
            <nav>
                <ul class="nav">
                    <li class="nav-item" routerLinkActive="active"><a href="https://github.com/makxks">Github</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/learning']">Progress</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['/me']">About Me</a></li>
                </ul>
            </nav>
        </div>
    <div>
</div>
