h1 {
  font-size: 26px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  padding: 5px;
  padding-top: 10px;
}

a {
  color: white;
}

a:link {
  color:white;
  text-decoration: none;
}

a:hover {
  color:gray;
  text-decoration: none;
}
