<div class="row body">
  <section class="selfIntro col-lg-8 col-md-8 col-sm-8 col-xs-8
   col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <h1>Me</h1>
    <hr>
    <p>
      My name is Max Platt. I previously studied as a civil engineer, and now I live in Beijing and teach kids English, but in the future I would like to work in web development so I have created this website as a way to showcase some of the things I have worked on and created; as a kind of portfolio.
    </p>
    <p>
       I am still quite new to the worlds of web development and games so I strive to learn about anything I can rather than focussing on any one area, front-end, back-end, databases, at this point I am trying to soak up as much as possible, be spongy. I also make a few games when I have time, mostly in Unity, so I get some practice with C#, and using it to solve some different kinds of problems, along with being able to use and improve my design and prototyping skills. I have also recently picked up QT to have a go with that and try out some of the C++ I have learned too.
    </p>
    <p>
      I hope to be adding a lot of different things to this website over time as I learn more about different technologies and put them to use in different projects. In particular I hope to be adding more things that use angular 2+ (as this site does), react, and vue.js. I will also be making a small statistics page to try out some information scraping with python, and maybe some games.
    </p>
    <p routerLinkActive="active">
      Please take a look around, you can find some of the web apps I have made <a [routerLink]="['/web']">here</a> and you can check out and play some of my games <a [routerLink]="['/games']">here</a>. Finally I am also trying my best to maintain a <a [routerLink]="['/learning']">blog</a> page, mainly to keep track of my own progress and the progress of my projects.
    </p>
    <p>
    If you have any questions or want to know more you can contact me through <a href="mailto:maxplatt@outlook.com">maxplatt@outlook.com</a>
    </p>
  </section>
</div>
