<div class="body">
  <div class="paragraph">
    <h1>Learning</h1>
    <h3>Things I found interesting or am trying to learn more about</h3>
    <p>I made the blog itself with React and Redux as opposed to Angular2 which the rest of the website uses. While I did find ways of rendering React components within an Angular2 framework I could not see a way to render the complete blog application inside the rest of the Angular app. So in the end I settled for hosting the blog in a separate remote location and using an iframe tp render it. While this is obviously not ideal, I did get some insight into the differences between Angular2 and React from the exercise.
    <hr>
    <iframe src="https://myreactlearningblog.herokuapp.com/"></iframe>
  </div>
</div>
