<div class="row">
  <div class="paragraph">
    <h1>Progress</h1>
  </div>
  <div class="paragraph">
    <h3>Things that I am learning about, and things that I found interesting</h3>
  </div>
  <hr />
  <div class="paragraph">
    <p>I made the blog itself with React and Redux as opposed to Angular2+ which the rest of the website uses. While I did find ways of rendering React components within an Angular2 framework I could not see a way to render the complete blog application inside the rest of the Angular app. So in the end I settled for hosting the blog in a separate remote location and using an iframe to render it. While this is not ideal, I did get some insight into the differences between Angular and React from the exercise.
  </div>
  <div class="paragraph">
    <p>I previously had the option to login to this website, however as there is nothing that uses a login on this site I decided to remove that login and allow users to login to the blog part instead. If you login you can leave comments, once you log in you will be taken back to the home page, which leads to all the different blogs, from there you can navigate to wherever you like.
  </div>
  <hr>
</div>
<div class="blogHolder">
  <iframe src="https://myreactlearningblog.herokuapp.com/Learning/posts"></iframe>
</div>
